<nav class="sidebar-nav ps ps--active-y">
    <ul class="nav">
        <li class="nav-item nav-dropdown">
            <a class="nav-link  nav-dropdown-toggle " href="#">
                Getting started
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item ">
                    <a class="nav-link" href="https://coreui.io/docs/getting-started/ui-kit/">
                        UI Kit
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown active open">
            <a class="nav-link  nav-dropdown-toggle " href="#">
                Components
            </a>
        </li>
        <li class="nav-item  ">
            <a class="nav-link " href="~/identity/account/register">
                Register
            </a>
            <ul class="nav-dropdown-items"></ul>
        </li>
    </ul>
</nav>