@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="panel">
    <div class="panel flex-columns-container">
        intro
        <a href="/log">log</a>
        <a href="/test/ff">test ff</a>
        <a href="/test/dd">test dd</a>
        <a href="/test/dd/gg">test dd gg</a>
    </div>
</section>
